{% extends 'layouts/web.twig' %}

{% block title %}
	{{ config('app.name') }}
{% endblock %}

{% block content %}

	<section class="section">
		<h1>{{ trans('common.welcome', { '%name%' : 'Steve'}) }}</h1>
		<h2>{{ trans_choice('common.new_messages', 5, { '%name%' : 'Steve' }) }}</h2>
		<h2>{{ trans_choice('common.replies', 0) }}</h2>
	</section>

	{% if hasMessage('Test') %}
		<ul>
	    	{% for msg in flash('Test') %}
	    		<li>{{ msg }}</li>
	    	{% endfor %}
		</ul>
	{% endif %}

{% endblock %}